.container

	section.main.flex
		.flex.box.hero
			.heading.flex
				h1.logo
					img(src="/assets/img/devswag-logo.svg", alt="DevSwag")
					span.alt-logo DevSwag
				h2 swag opportunities for developers 😎
				p As a developer, nothing piques my interest more than developer swag!
				p I created devSwag to scratch my own itch by starting a curation of such opportunities in Feb '18. These are crowdsourced and verified by the community. All of them ship worldwide! 🚀

		.buttons
			.flex.controls
				.controls-header
					svg.controls-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
						path(d="M3 4a1 1 0 011-1h16a1 1 0 011 1v2.586a1 1 0 01-.293.707l-6.414 6.414a1 1 0 00-.293.707V17l-4 4v-6.586a1 1 0 00-.293-.707L3.293 7.293A1 1 0 013 6.586V4z")
				
				.controls-grid
					.control-group
						label.control-label(for="filter")
							svg.control-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
								path(d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
							span Difficulty Level
						.select-wrapper
							select#filter.control-selec
								for filter in ['All difficulties', 'Easy', 'Medium', 'Hard']
									option(value=filter.replace(/ /g, '').toLowerCase()) #{filter}

					.control-group
						label.control-label(for="sorting")
							svg.control-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
								path(d="M3 4h18M7 8h10M9 12h6M11 16h2")
							span Sort By
						.select-wrapper
							select#sorting.control-selec
								option(value="DATEADDED_DESCENDING" class="dateAdded") Newest Firs
								option(value="DATEADDED_ASCENDING" class="dateAdded") Oldest Firs
								option(value="ALPHABETICAL_ASCENDING" class="alphabetical") A → Z
								option(value="ALPHABETICAL_DESCENDING" class="alphabetical") Z → A
								option(value="DIFFICULTY_ASCENDING" class="difficulty") Difficulty: Easy to Hard
								option(value="DIFFICULTY_DESCENDING" class="difficulty") Difficulty: Hard to Easy

					.control-group
						label.control-label(for="tags")
							svg.control-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
								path(d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z")
							span Tags
						select#tags.hidden.control-selec

				.controls-options
					.option-group
						label.option-label(for="expired")
							input.option-checkbox(type="checkbox" id="expired")
							span.option-tex
								svg.option-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
									path(d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z")
								span Show expired opportunities

					.option-group
						label.option-label(for="completed")
							input.option-checkbox(type="checkbox" id="completed")
							span.option-tex
								svg.option-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
									path(d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z")
								span Hide completed opportunities

				.controls-actions
					button#reset-all.btn.reset-btn(type="button")
						svg.reset-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2")
							path(d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15")
						span Reset All

		.content.flex#conten
			- let difficulty;
			each swag, index in swagLis
				- difficulty = swag.difficulty + ' difficulty';
				- difficultyTitle = 'Difficulty: ' + swag.difficulty;
				- expired = swag.tags.includes('expired');
				- dateAdded = (new Date(swag.dateAdded)).getTime();
				- inputId = `${swag.name}_${dateAdded}`.toLowerCase().replace(' ', '_');
				div(
					class="item " + (expired ? '' : 'visible ') + swag.difficulty + swag.tags.map(t => ` tag-${t}`).join('')
					data-name=swag.name.toLowerCase()
					data-difficulty=['easy','medium', 'hard'].indexOf(swag.difficulty)
					data-dateadded=dateAdded
				)
					div.flex.img-container
						a(href=swag.reference target="_blank")
							picture
								noscript.loading-lazy
									source(type="image/webp" srcset=swag.images.webp)
									source(type="image/jpeg" srcset=swag.images.jpeg)
									img(src=swag.images.jpeg loading="lazy" alt=swag.name + " swag you can get")
					div.information
						div.title.flex
							h1
								a(href=swag.reference target="_blank")=swag.name
							div
								div(class=difficulty title=difficultyTitle)
									span.sr-only=difficultyTitle
						p.swag.flex
							each swagTag in swag.tags
								span(
									class="tag " + swagTag
								)!=swagTag
						p.description!=swag.description
						.flex
							a.btn(href=swag.reference target="_blank") Check it ou
					label.task-complete(for=`task_complete_${index}` aria-label="Mark task as complete")
						input.complete-notice(type="checkbox" id=`task_complete_${index}` data-task=inputId)
						i

			.no-results(style="display: none")
				h3 Oh no! There are no opportunities that match those filters. 😯
				.flex
					a.github(href="https://github.com/swapagarwal/swag-for-dev/issues/new?template=----new-swag-opportunity.md" target="_blank")
						svg.github-logo(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32.6 31.8")
							use(href='#github_logo')
						span.text Add one on Github

	section.newsletter
		.flex.box.form
			noscript.loading-lazy
				iframe(src="https://upscri.be/67d2fa?as_embed" loading="lazy" style="width:100%;max-width:800px;margin:0 auto;" height="400" frameborder="0" title="Subscribe for updates")

	footer.flex
		.item.flex
			p Made with ❤︎ by #[a(href="https://swapnil.net/") Swapnil Agarwal]
		.item.flex
			p Designed by #[a(href="https://github.com/zac-garby") Zac Garby], #[a(href="https://mihir.ch/") Mihir Chaturvedi], and #[a(href="http://github.com/anhek") Antonin Nhek]
		.item.flex
			p Maintained by #[a(href="https://github.com/aslafy-z") Zadkiel] and #[a(href="https://vikaspotluri.me") Vikas Potluri]
		.item.flex
			a(href="https://github.com/swapagarwal/swag-for-dev/blob/master/data.json") View Data
			br
		.item.flex
			p This site is powered by #[a(href="https://www.netlify.com") Netlify]
		.item.flex
			p Want your company's swag to be listed / unlisted? Want to advertise? #[a(href="https://t.me/swapagarwal") Contact us].
		.item.flex
			a.github(href="https://github.com/swapagarwal/swag-for-dev" target="_blank")
				svg.github-logo(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 32.6 31.8")
					use(href='#github_logo')
				span.text View on Github
	#codefund_ad

	script.
		window.swagTags = !{JSON.stringify(tags)};
